@model GlanceBugTracker.Models.CodeFirst.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
          Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owneruser.FirstName)
        </dd>

        <dt>
Project 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Title)
        </dd>

        <dt>
          Priority
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPriority.Name)
        </dd>

        <dt>
          Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketStatus.Name)
        </dd>

        <dt>
            Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        @foreach (var ticketattachment in Model.Attachments.OrderByDescending(c => c.Id))
            {
                <p><a href="@ticketattachment.FileUrl">@ticketattachment.Description</a>
                    Uploader: @ticketattachment.Author.FullName Date: @ticketattachment.Created</p>
            }

        @using (Html.BeginForm("CreateAttachment", "Tickets", FormMethod.Post, new { enctype = "Multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="number" name="TicketId" value="@Model.Id" hidden />
            <div class="form-group btn-group">
                <label class="control-label col-md-4">Upload File</label>
                <div class="col-md-8">
                    <input name="attachFile" type="file" class="form-control" />
                    <input type="text" name="Description" placeholder="File description" required />
                    <button value="submit">Attach</button>
                </div>
            </div>
        }


    </dl>
</div>
@if (User.Identity.IsAuthenticated)
{


 using (Html.BeginForm("CreateComment", "Tickets", new { TicketId = Model.Id, ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
 {

    @Html.AntiForgeryToken();
    <div class="form-group">
        <div class="container">
            <div class="row">
        <div class="col-lg-12">
          
            <textarea style="" id="editor" class="form-control" placeholder="Write A Comment" name="Body" rows="5"></textarea>
            @*<input name="Body" type="text" style="padding:5px" placeholder="Leave A Comment" value="@ViewBag.Comment" />*@
            <button class="btn btn-default" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </div>

 }


}

@foreach (var comment in Model.Comments)
{
   <div class="container">
       <div class="row">
           <div class="col-lg-8">
               @comment.Body
           </div>
           </div>
       <div class="col-lg-pull-4">
           @comment.Author.FullName &nbsp; @Html.ToUserTime(comment.Created, ViewBag.UserTimeZone as string, "MM-dd-yyyy hh:mm:ss")
        1 Comment


       </div>
           <div class="row">
               <div class="col-lg-6">
                   

               </div>
           </div>
       <div class="clearfix"></div>
          </div>

    if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
        @Html.ActionLink("Edit", "EditComment", "Tickets", new { id = comment.Id }, null)
        @Html.ActionLink("Delete", "DeleteComment", "Tickets", new { id = comment.Id }, null)
    }
    <hr />
    <div class="clearfix"></div>
}



<p>
    
    @Html.ActionLink("Back To Your Projects", "UserProjects","Projects")
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Full Ticket Index", "Index")
    }
    
</p>
