@model GlanceBugTracker.Models.CodeFirst.Project

@{
    ViewBag.Title = "Details";
}
<link href="~/Mustang/design/css/datatables/dataTables.bs.min.css" rel="stylesheet" />
<link href="~/Mustang/design/css/datatables/autoFill.bs.min.css" rel="stylesheet" />
<link href="~/Mustang/design/css/datatables/fixedHeader.bs.css" rel="stylesheet" />



<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.ToUserTime(Model.Created, ViewBag.UserTimeZone as string, "MM-dd-yyyy hh:mm:ss")



        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        
        <dd>
            @if (Model.Updated != null)
            {
                @Html.ToUserTime(Model.Updated.Value, ViewBag.UserTimeZone as string, "MM-dd-yyyy hh:mm:ss")
            }
     



        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
           @Html.Raw(Model.Description)
        </dd>
       
       

      
        <dt>
            Users
        </dt>
        <dd>
            @foreach (var user in Model.Users)
            {
                @user.FullName <br />
            }
        </dd>
    </dl>
</div>
<p>
   
 
    
    
   @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
           {
     <a href="@Url.Action("Index","Projects")" class="btn btn-default">Back To Admin List</a>
      <a href="@Url.Action("Edit","Projects" , new {id = Model.Id })" class=" btn btn-danger">Edit Project</a>
   }
   @if (User.IsInRole("Submitter"))
   {
       <a href=" @Url.Action("Create","Tickets")"class=" btn btn-success">Create A Ticket</a>
   }
  <a href="@Url.Action("UserProjects" , "Projects")" class="btn btn-primary">Back My Projects List</a>
</p>


<div class="row gutter">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-light">
            <div class="panel-heading">
                <h4>Tickets</h4>
            </div>
        
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="responsiveTable" class="table table-striped table-bordered no-margin">
                        <thead>
                            <tr>
                                <th>Created</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Priority</th>
                                <th>Type</th>
                                <th>Assignment</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            
                        </thead>

                   
                        <tbody>
                           
                            
                                @foreach (var ticket in Model.Tickets)
                                {
                                    if (ticket.Archive == true)
                                    {

                                    }
                                    else
                                    {

                                        <tr>
                                            <th>@ticket.Created.UtcDateTime </th>
                                            <th>@ticket.Title</th>
                                            <th>@ticket.Owneruser.FullName</th>
                                            <th>@ticket.TicketPriority.Name</th>
                                            <th>@ticket.TicketType.Name</th>
                                            @if (ticket.AssignToUserId != null)
                                            {
                                                <th>@ticket.AssignToUser.FullName</th>
                                            }
                                            else
                                            {
                                                <th></th>
                                            }
                                            <th>@ticket.TicketStatus.Name</th>
                                            <th>
                                                @if (User.IsInRole("Admin"))
                                                { <a href="@Url.Action("Edit","Tickets" , new {id = ticket.Id })">Edit</a> <br />
                                                <a href="@Url.Action("Delete","Tickets" , new {id = ticket.Id })">Delete</a>    <br />

                                                }
                                                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                                {

                                                    <a href="@Url.Action("AssignDeveloper","Tickets" , new {id = ticket.Id })">Assign Developer</a>   <br />

                                                }

                                                <a href="@Url.Action("Details","Tickets" , new {id = ticket.Id })">Details</a>
                                            </th>
                                        </tr>
                                        


                                    }

                                }

                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row ends -->

@section Scripts {
    <!-- Data Tables -->
    <script src="~/Mustang/design/js/datatables/dataTables.min.js"></script>
    <script src="~/Mustang/design/js/datatables/dataTables.tableTools.js"></script>
    <script src="~/Mustang/design/js/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Mustang/design/js/datatables/custom-datatables.js"></script>
    <script src="~/Mustang/design/js/datatables/fixedHeader.min.js"></script>
    <script src="~/Mustang/design/js/datatables/autoFill.min.js"></script>
    <script src="~/Mustang/design/js/datatables/autoFill.bootstrap.min.js"></script>
}