@model IEnumerable<GlanceBugTracker.Models.CodeFirst.Project>

@{
    ViewBag.Title = "UserProjects";
}

<h2>Your Assigned Projects</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Created)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
         @Html.Raw(item.Description)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
         
            <a href="@Url.Action("Details","Projects", new {id = item.Id })" class="btn btn-primary">Details</a>
          
        </td>
    </tr>
}

</table>
